/Guia13JDBC/Ejercicio1JDBC/nbproject/private/
/Guia13JDBC/Ejercicio1JDBC/build/
/Guia13JDBC/ejemplotutoria/nbproject/private/
/Guia13JDBC/libreriaJPA/nbproject/private/
/Guia13JDBC/libreriaJPA/build/
/JavaApplication7/nbproject/private/
/JavaApplication7/build/